<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802368381127-6kpite3gpi0lpnqcuicghvc6al3uim7v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802368381127-6kpite3gpi0lpnqcuicghvc6al3uim7v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>802368381127-09gt1slijmg6ia21pfvupfst27kji7nb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA9KGMw-UDlEgtKBTHb-70veBea_cuzlqM</string>
	<key>GCM_SENDER_ID</key>
	<string>802368381127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.neutralCreepDev</string>
	<key>PROJECT_ID</key>
	<string>neutral-creep-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>neutral-creep-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802368381127:ios:215f08ef935061b41bdee2</string>
	<key>DATABASE_URL</key>
	<string>https://neutral-creep-dev.firebaseio.com</string>
</dict>
</plist>